BACKEND_BASE_URL=http://127.0.0.1:8000
SERVER_API_KEY=
SITE_CORS_ORIGINS=https://leki.example.com
REQUEST_CODE_RATE_LIMIT=5/minute
VERIFY_CODE_RATE_LIMIT=10/minute
CHECKOUT_RATE_LIMIT=20/minute
SITE_WRITE_RATE_LIMIT=60/minute
SUBSCRIPTION_OVERVIEW_RATE_LIMIT=300/minute
SITE_READ_RATE_LIMIT=120/minute
MAX_REQUEST_BODY_BYTES=1048576
WEBHOOK_FORWARD_TIMEOUT_CONNECT=10.0
WEBHOOK_FORWARD_TIMEOUT_READ=120.0
